 body{ 
    background-color: rgb(43, 43, 43);
    color:white;
    margin:0;
    height:100%;
    width:100%;
    padding:0;
    overflow-x:hidden;
    overflow-y: hidden;
    
}
.container{
    position:absolute;
    display: flex;
    flex-direction: row;
    height:100%;
    width:100%;
    padding: 0;
    margin:0;
    background-color: rgb(230, 230, 230);
}
.sidebar{
    margin:0;
    width:20%;
    height:100%;
    background-color: #2C2C2C;
    display: flex;
    flex-direction:column;

}
.optionList>a{
    width:35%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom:50px;
    font-size:30px;
    border-style:solid;
    border-color:#2C2C2C;
    border-bottom-width: 5px;
    text-decoration: none;
    color:white;
}
.optionList>a{

  text-decoration: none;
  color:white;
}

.optionList a:hover{
    cursor: pointer;
    /* text-decoration: underline;
    text-decoration-color: #5FCF6A;
    text-underline-offset: 7px;
    text-decoration-thickness: 5px; */
    border-bottom-color:#3BD36F;

    
}

.optionList{
    text-decoration: none;
    list-style-type: none;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo{
    font-size: 50px;
    width:100%;
    height:20%;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
.content{
    width:80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* NOTIFICATIOON */

.notification{
    position: absolute;
    width:20%;
    height:15%;
    background-color: #2C2C2C;
    left:2%;
    bottom:2%;
    border:solid;
    border-color:#3BD36F;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: wiggle-bootie1;
    animation-duration: 3000ms;
    animation-iteration-count: 1;

}
.notify-name{
    font-size: 20px;
    border-bottom: solid;
    border-bottom-color: #3BD36F;
    
}
.notify-content{
    margin:15px;
    width:fit-content;

}

@keyframes wiggle-bootie1 {
    0%, 7% {
      transform: rotateZ(0);
      transform: translateX(-200px);
    }
    25% {
      transform: rotateZ(-3deg);
    }
    30% {
      transform: rotateZ(3deg);
    }
    35% {
      transform: rotateZ(-2deg);
    }
    90%{
      transform: rotateZ(0);
    }

  }